<form method="POST" action="/landmarks">
  <h1>Create a new landmark.</h1>
  <h2>Name:</h2> <input type ="text" name="landmark[name]" id="landmark_name">
  <h2>Year Added:</h2> <input type ="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" name="submit" id="Create New Landmark">
</form>